<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            background-repeat: no-repeat;
            background-attachment: fixed;
        }

        table {
            box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.8);
            background: rgb(240, 183, 161);
            background: linear-gradient(135deg, rgba(240, 183, 161, 1) 0%, rgba(140, 51, 16, 1) 50%, rgba(117, 34, 1, 1) 51%, rgba(191, 110, 78, 1) 100%);

            border: 1px solid black;
        }

        p {
            text-decoration: underline;
            font-size: 150%;
            font-family: Courier New, Courier, monospace;
            font-weight: 900;
        }

        #soldiertable {
            background: rgb(240, 183, 161);
            border-radius: 10px;
            max-width: 260px;
            border: 1px solid black;
            box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.8);
            font-family: Courier New, Courier, monospace;
        }

        td {
            text-align: center;
        }
        
    </style>
    <meta charset="UTF-8">
    <title>Soldier Detail</title>
</head>
<body background="img/smoke.jpg">
<div id="soldiertable">
    <tr>Soldier Name: {{soldier.soldierName}}<br>
        Rank: {{soldier.rank}}<br>
        Joined: {{soldier.addedDate}}<br>
        Platoon: {{soldier.platoon}} <br>
        Last Promoted: {{soldier.lastPromoted}}<br>
        {%if soldier.rank == "RCT" %}
        <form name="promotepv2" action="/detailsoldier?soldier={{soldier_id}}&action=promotepv2" method="post"><input
                class="pv2"
                type="submit"
                value="Promote to PV2">
        </form>
        {% endif %}
    </tr>
</div>
<p>Certifications</p>

<table border="1">
    <tr>
        <th><img src="img/rifle.png" height="105" width="110"/><br>Rifle<br>

        </th>
        <th><img src="img/ncopd1.png" height="105" width="110"/><br>NCOPD1</th>
        <th><img src="img/ncopd2.png" height="105" width="110"/><br>NCOPD2</th>
        <th><img src="img/ncopd3.png" height="105" width="110"/><br>NCOPD3</th>
        <th><img src="img/airassult.png" height="105" width="110"/><br>Air Assult</th>
        <th><img src="img/sapper.png" height="105" width="110"/><br>Sapper</th>
        <th><img src="img/ranger.png" height="105" width="110"/><br>Ranger</th>
        <th><img src="img/pathfinder.png" height="105" width="110"/><br>Pathfinder</th>
        <th><img src="img/fister.png" height="105" width="110"/><br>FO</th>
        <th><img src="img/fdc.png" height="105" width="110"/><br>FDC</th>
        <th><img src="img/jfo.png" height="105" width="110"/><br>JFO</th>
        <th><img src="img/dm.png" height="105" width="110"/><br>DMR</th>
        <th><img src="img/rslc.png" height="105" width="110"/><br>RSLC</th>
        <th><img src="img/rotor.png" height="105" width="110"/><br>Rotor</th>
        <th>Recruiter</th>
    </tr>

    <tr>
        <td>
            <form name="rifleupdate" action="/detailsoldier?soldier={{soldier_id}}&action=certRifle" method="post">
                <select>
                    <option value="Expert" {% if soldier.certRifle==
                    "Expert" %} selected{% endif %}>Expert</option>
                    <option value="Sharpshooter" {% if soldier.certRifle==
                    "Sharpshooter" %} selected{% endif %}>Sharpshooter</option>
                    <option value="Marksman" {% if soldier.certRifle==
                    "Marksman" %} selected{% endif %}>Marksman</option>
                    <option value="None" {% if soldier.certRifle==
                    "None" %} selected{% endif %}>None</option>
                </select>
                <input type="submit">
            </form>
        </td>
        <!-- TODO(Shangpo) Fix this via a for loop -->
        <td>
            {% if soldier.certNCOPD1 == 0 %}
            No
            {% else %}
            Yes
            {% endif %}
            <form name="certNCOPD1" action="/detailsoldier?soldier={{soldier_id}}&action=certNCOPD1" method="post">
                <input class="NCOPD1"
                       type="submit"
                       value="Add">
            </form>
        </td>
        <td>
            {% if soldier.certNCOPD2 == 0 %}
            No
            {% else %}
            Yes
            {% endif %}
        </td>
        <td>
            {% if soldier.certNCOPD3 == 0 %}
            No
            {% else %}
            Yes
            {% endif %}
        </td>
        <td>
            {% if soldier.certAirAssult == 0 %}
            No
            {% else %}
            Yes
            {% endif %}
        </td>
        <td>
            {% if soldier.certSapper == 0 %}
            No
            {% else %}
            Yes
            {% endif %}
        </td>
        <td>
            {% if soldier.certRanger == 0 %}
            No
            {% else %}
            Yes
            {% endif %}
        </td>
        <td>
            {% if soldier.certPathfinder == 0 %}
            No
            {% else %}
            Yes
            {% endif %}
        </td>
        <td>
            {% if soldier.certFO == 0 %}
            No
            {% else %}
            Yes
            {% endif %}
        </td>
        <td>
            {% if soldier.certFDC == 0 %}
            No
            {% else %}
            Yes
            {% endif %}
        </td>
        <td>
            {% if soldier.certJFO == 0 %}
            No
            {% else %}
            Yes
            {% endif %}
        </td>
        <td>
            {% if soldier.certDMR == 0 %}
            No
            {% else %}
            Yes
            {% endif %}
        </td>
        <td>
            {% if soldier.certRSLC == 0 %}
            No
            {% else %}
            Yes
            {% endif %}
        </td>
        <td>
            {% if soldier.certRotor == 0 %}
            No
            {% else %}
            Yes
            {% endif %}
        </td>
        <td>
            {% if soldier.certRecruit == 0 %}
            No
            {% else %}
            Yes
            {% endif %}
        </td>
    </tr>
</table>


<p>Ribbons</p>
<table border="1">
    <tr>
        <th><img src="img/pistol.png" height="105" width="110"/><br>Pistol</th>
        <th><img src="img/staff.png" height="105" width="110"/><br>Staff Officer</th>
        <th><img src="img/command.png" height="105" width="110"/><br>Command</th>
        <th><img src="img/AT.png" height="105" width="110"/><br>AT</th>
        <th><img src="img/ground.png" height="105" width="110"/><br>Ground Defense</th>
        <th><img src="img/dm.png" height="105" width="110"/><br>Marksman</th>
        <th><img src="img/support.png" height="105" width="110"/><br>Support</th>
    </tr>
    <tr>

        <td>
            {% if soldier.ribPistol == 0 %}
            No
            {% else %}
            Yes
            {% endif %}
        </td>
        <td>
            {% if soldier.ribStaff == 0 %}
            No
            {% else %}
            Yes
            {% endif %}
        </td>
        <td>
            {% if soldier.ribCommand == 0 %}
            No
            {% else %}
            Yes
            {% endif %}
        </td>
        <td>
            {% if soldier.ribAT == 0 %}
            No
            {% else %}
            Yes
            {% endif %}
        </td>
        <td>
            {% if soldier.ribGround == 0 %}
            No
            {% else %}
            Yes
            {% endif %}
        </td>
        <td>
            {% if soldier.ribDM == 0 %}
            No
            {% else %}
            Yes
            {% endif %}
        </td>
        <td>
            {% if soldier.ripSupport == 0 %}
            No
            {% else %}
            Yes
            {% endif %}
        </td>
    </tr>
</table>

<p>Badges</p>
<table border="1">
    <tr>
        <th><br><img src="img/jump.png" height="105" width="110"/><br>Jump</th>
        <th><br><img src="img/cib.png" height="105" width="110"/><br>Combat Infrantry</th>
        <th><br><img src="img/infantry.png" height="105" width="110"/><br>Infantry</th>
        <th><br><img src="img/medic.png" height="105" width="110"/><br>Medic</th>
        <th><br><img src="img/explosives.png" height="105" width="110"/><br>Explosives</th>
        <th><br><img src="img/cab.png" height="105" width="110"/><br>Combat Action</th>
        <th><br><img src="img/airdefense.png" height="105" width="110"/><br>Air Defense</th>
        <th><br><img src="img/armor.png" height="105" width="110"/><br>Armor</th>
        <th><br><img src="img/transport.png" height="105" width="110"/><br>Transportation</th>
        <th><br><img src="img/combatmedic.png" height="105" width="110"/><br>Combat Medic</th>
    </tr>
    <tr>

        <td>
            {% if soldier.badgeJump == 0 %}
            No
            {% else %}
            Yes
            {% endif %}
        </td>
        <td>
            {% if soldier.badgeCIB == 0 %}
            No
            {% else %}
            Yes
            {% endif %}
        </td>
        <td>
            {% if soldier.badgeIB == 0 %}
            No
            {% else %}
            Yes
            {% endif %}
        </td>
        <td>
            {% if soldier.badgeMedic == 0 %}
            No
            {% else %}
            Yes
            {% endif %}
        </td>
        <td>
            {% if soldier.badgeExposive == 0 %}
            No
            {% else %}
            Yes
            {% endif %}
        </td>
        <td>
            {% if soldier.badgeCAB == 0 %}
            No
            {% else %}
            Yes
            {% endif %}
        </td>
        <td>
            {% if soldier.badgeAirDefense == 0 %}
            No
            {% else %}
            Yes
            {% endif %}
        </td>
        <td>
            {% if soldier.badgeArmor == 0 %}
            No
            {% else %}
            Yes
            {% endif %}
        </td>
        <td>
            {% if soldier.badgeTransport == 0 %}
            No
            {% else %}
            Yes
            {% endif %}
        </td>
        <td>
            {% if soldier.badgeCombatMedic == 0 %}
            No
            {% else %}
            Yes
            {% endif %}
        </td>
    </tr>
</table>

<p>Medals</p>
<table border="1">
    <tr>
        <th><br><img src="img/afs.png" height="105" width="110"/><br>Armed Forces Service</th>
        <th><br><img src="img/nd.png" height="105" width="110"/><br>Nation Defense</th>
        <th><br><img src="img/dsm.png" height="105" width="110"/><br>Distinguished Service</th>
        <th><br><img src="img/mov.png" height="105" width="110"/><br>Medal of Valor</th>
        <th><br><img src="img/acm.png" height="105" width="110"/><br>Army Commendation</th>
        <th><br><img src="img/aam.png" height="105" width="110"/><br>Army Acheievement</th>
        <th><br><img src="img/dsync.png" height="105" width="110"/><br>Dsync</th>
        <th><br><img src="img/gcm.png" height="105" width="110"/><br>Good Conduct</th>
        <th><br><img src="img/ph.png" height="105" width="110"/><br>Purple Heart</th>
        <th><br><img src="img/vsm.png" height="105" width="110"/><br>Volunteer Service</th>
        <th><br><img src="img/dsc.png" height="105" width="110"/><br>Distinguished Service Cross</th>
        <th><br><img src="img/msm.png" height="105" width="110"/><br>Meritorious Service</th>
        <th><br><img src="img/bs.png" height="105" width="110"/><br>Bronze Star</th>
        <th><br><img src="img/ss.png" height="105" width="110"/><br>Silver Star</th>
        <th><br>Air</th>
        <th><br>Air Force Combat Action</th>
        <th><br>Combat Helo</th>
    </tr>
    <tr>
        <td>
            {% if soldier.medArmedForces == 0 %}
            No
            {% else %}
            Yes
            {% endif %}
        </td>
        <td>
            {% if soldier.medNationalDefense == 0 %}
            No
            {% else %}
            Yes
            {% endif %}
        </td>
        <td>
            {% if soldier.medDSM == 0 %}
            No
            {% else %}
            Yes
            {% endif %}
        </td>
        <td>
            {% if soldier.medMOV == 0 %}
            No
            {% else %}
            Yes
            {% endif %}
        </td>
        <td>
            {% if soldier.medCommendation == 0 %}
            No
            {% else %}
            Yes
            {% endif %}
        </td>
        <td>
            {% if soldier.medAchievement == 0 %}
            No
            {% else %}
            Yes
            {% endif %}
        </td>
        <td>
            {% if soldier.medDsync == 0 %}
            No
            {% else %}
            Yes
            {% endif %}
        </td>
        <td>
            {% if soldier.medConduct == 0 %}
            No
            {% else %}
            Yes
            {% endif %}
        </td>
        <td>
            {% if soldier.medPH == 0 %}
            No
            {% else %}
            Yes
            {% endif %}
        </td>
        <td>
            {% if soldier.medVolunteer == 0 %}
            No
            {% else %}
            Yes
            {% endif %}
        </td>
        <td>
            {% if soldier.medDSC == 0 %}
            No
            {% else %}
            Yes
            {% endif %}
        </td>
        <td>
            {% if soldier.medMerit == 0 %}
            No
            {% else %}
            Yes
            {% endif %}
        </td>
        <td>
            {% if soldier.medBronze == 0 %}
            No
            {% else %}
            Yes
            {% endif %}
        </td>
        <td>
            {% if soldier.medSilver == 0 %}
            No
            {% else %}
            Yes
            {% endif %}
        </td>
        <td>
            {% if soldier.medAir == 0 %}
            No
            {% else %}
            Yes
            {% endif %}
        </td>
        <td>
            {% if soldier.medAFCombatAction == 0 %}
            No
            {% else %}
            Yes
            {% endif %}
        </td>
        <td>
            {% if soldier.medCombatHelo == 0 %}
            No
            {% else %}
            Yes
            {% endif %}
        </td>
    </tr>
</table>

</body>
</html>