<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="robots" content="noindex"/>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-100164007-1', 'auto');
        ga('send', 'pageview');

    </script>
    <style>
        body {
            background-repeat: no-repeat;
            background-attachment: fixed;
        }

        .bling {
            box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.8);
            background: rgb(240, 183, 161);
            background: linear-gradient(135deg, rgba(240, 183, 161, 1) 0%, rgba(140, 51, 16, 1) 50%, rgba(117, 34, 1, 1) 51%, rgba(191, 110, 78, 1) 100%);

            border: 1px solid black;
        }

        p {
            text-decoration: underline;
            font-size: 150%;
            font-family: Courier New, Courier, monospace;
            font-weight: 900;
        }

        .soldiertable {
            background: rgb(240, 183, 161);
            border-radius: 10px;
            max-width: 260px;
            border: 1px solid black;
            box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.8);
            font-family: Courier New, Courier, monospace;
        }

        td {
            text-align: center;
        }

        .navbar {
            border-collapse: collapse;
            border: 1px solid black;
            background-color: #ffffff;
            width: 50%;
            margin-left: 25%;
            margin-right: 25%;
        }

        .navtd {
            height: 10px;
        }

        .navtr {

        }

        ul {

            float: none;
            list-style: none;
            margin: 0 auto;
            padding: 0;

        }

        li {
            width: 160;
            height: 35px;
            line-height: 35px;
            padding: 10px;
            display: inline-block;
            border-radius: 6px;
            background: grey;
            margin: 4px 6px;
            box-shadow: 0px 0px 0px 5px rgba(24, 24, 24, 0.8);
            font-weight: bold;
            text-shadow: 2px 2px black;
            transition: background-color .5s
        }

        a {
            display: block;
            width: 160px;
            height: 35px;
            line-height: 35px;
            text-decoration: none;
            text-align: center;
        }

        li a {
            display: inline-block;
            color: white;
            text-align: center;

            text-decoration: none;
        }

        #dprisnavbar {

            color: white;
            margin: 0 auto;
            padding: 0;
            position: relative;
            border-top: 0px solid #transparent;
            height: 35px;

        }

        #dprisnav {
            text-align: center;
            margin: 0 auto;
            padding: 0;
            display: table;
        }

        #dprisnav li ul {
            z-index: 9999;
            position: absolute;
            left: -999em;
            height: auto;
            width: 150px;

            text-align: center;
        }

        #dprisnav li:hover ul {
            left: auto;
        }

        #dprisnav li:hover {
            background-color: red;
        }

        #dprisnav li li a:hover, #dprisnavli li a:active {
            display: block;
            padding: 0px 0px 6px 6px;
            text-decoration: none;
        }

    </style>
    <meta charset="UTF-8">
    <title>Soldier Detail</title>
</head>
<body background="img/smoke.jpg">

<div id='dprisnavbar'>
    <ul id='dprisnav'>
        <li><a href="/">Home</a>
        </li>

        </li>
        <li><a href="/soldier?platoon=toc">TOC</a>
        </li>
        <li><a href="/soldier?platoon=nightmare">Nightmare</a>
            <ul>
                <li><a href="/attendance?platoon=nightmare">Platoon Attendance</a>
                </li>
            </ul>
        </li>
        <li><a href="/soldier?platoon=viking">Viking</a>
            <ul>
                <li><a href="/attendance?platoon=viking">Platoon Attendance</a>
                </li>
            </ul>
        </li>
        <li><a href="/soldier?platoon=guardian">Guardian</a>
            <ul>
                <li><a href="/attendance?platoon=guardian">Platoon Attendance</a>
                </li>
            </ul>
        </li>
        <li><a href="/soldier?platoon=whiskey">Whiskey</a>
            <ul>
                <li><a href="/attendance?platoon=whiskey">Airteam Attendance</a>
                </li>
            </ul>
        </li>
        <li><a href="">No Element</a>
            <ul>
                <li><a href="/attendance?platoon=none">Recruits</a>
                </li>
                <li><a href="/attendance?platoon=loa">LOAs</a>
                </li>
            </ul>
        </li>
    </ul>
</div>


<table class="soldiertable">
    <tr>
        <td>
            {% if auth_ic == True and (auth_platoon == soldier.platoon or soldier.platoon == 'none' or solider.platoon =='toc') %}
            <form name="editsoldier" action="/detailsoldier?soldier={{soldier_id}}&action=editsoldier" method="post">
                {% endif %}
                <b>Soldier Name:</b>
                {% if auth_ic == True and (auth_platoon == soldier.platoon or soldier.platoon == 'none' or solider.platoon =='toc') %}
                <input type="text" name="name" value="{{soldier.soldierName}}"><br>
                {% else %}
                {{soldier.soldierName}}
                {% endif %}

                <hr/>
                <b>Rank:</b>
                {% if soldier.rank == 'PV2' %}
                <img src="img/PV2.png"/>
                {% elif soldier.rank == 'PFC' %}
                <img src="img/PFC.png"/>
                {% elif soldier.rank == 'SPC' %}
                <img src="img/SPC.png"/>
                {% elif soldier.rank == 'CPL' %}
                <img src="img/CPL.png"/>
                {% elif soldier.rank == 'SGT' %}
                <img src="img/SGT.png"/>
                {% elif soldier.rank == 'SSG' %}
                <img src="img/SSG.png"/>
                {% elif soldier.rank == 'SFC' %}
                <img src="img/SFC.png"/>
                {% elif soldier.rank == 'MSG' %}
                <img src="img/MSG.png"/>
                {% elif soldier.rank == '1SG' %}
                <img src="img/1SG.png"/>
                {% elif soldier.rank == 'SGM' %}
                <img src="img/SGM.png"/>
                {% elif soldier.rank == '2LT' %}
                <img src="img/2LT.png"/>
                {% elif soldier.rank == '1LT' %}
                <img src="img/1LT.png" />
                {% elif soldier.rank == 'CPT' %}
                <img src="img/CPT.png" />
                {% elif soldier.rank == 'MAJ' %}
                <img src="img/MAJ.png" />
                {% elif soldier.rank == 'LTC' %}
                <img src="img/LTC.png" />
                {% elif soldier.rank == 'WOC' %}
                <img src="img/WOC.png" />
                {% elif soldier.rank == 'WO1' %}
                <img src="img/WO1.png" />
                {% elif soldier.rank == 'CW2' %}
                <img src="img/WO2.png" />
                {% elif soldier.rank == 'CW3' %}
                <img src="img/WO3.png" />
                {% elif soldier.rank == 'CW4' %}
                <img src="img/WO4.png" />
                {% elif soldier.rank == 'CW5' %}
                <img src="img/WO5.png" />
                {% endif %}
                {{soldier.rank}}<br>
                <hr/>
                <b>Joined:</b>
                {% if auth_ic == True and (auth_platoon == soldier.platoon or soldier.platoon == 'none' or solider.platoon =='toc') %}
                <input type="text" name="joined" value="{{soldier.addedDate}}"><br><i>Use YYYY-MM-DD</i><br>
                {% else %}
                {{soldier.addedDate}}
                {% endif %}
                <hr/>
                <b>Platoon:</b>
                {% if auth_ic == True and (auth_platoon == soldier.platoon or soldier.platoon == 'none' or solider.platoon =='toc') %}
                <select name="platoon">
                    <option value="nightmare" {% if soldier.platoon==
                    "nightmare" %} selected{% endif %}>Nightmare</option>
                    <option value="viking" {% if soldier.platoon==
                    "viking" %} selected{% endif %}>Viking</option>
                    <option value="guardian" {% if soldier.platoon==
                    "guardian" %} selected{% endif %}>Guardian</option>
                    <option value="whiskey" {% if soldier.platoon==
                    "whiskey" %} selected{% endif %}>Whiskey</option>
                    <option value="toc" {% if soldier.platoon==
                    "toc" %} selected{% endif %}>TOC</option>
                    <option value="none" {% if soldier.platoon==
                    "none" %} selected{% endif %}>None</option>
                    <option value="loa" {% if soldier.platoon==
                    "loa" %} selected{% endif %}>LOA</option>
                </select>
                {% else %}
                {{soldier.platoon | title}}
                {% endif %}
                <hr/>
                <b>XML Member ID</b>
                {% if auth_ic == True and (auth_platoon == soldier.platoon or soldier.platoon == 'none' or solider.platoon =='toc') %}
                <input type="text" name="xmlid" value="{{soldier.xmlid}}"><br>
                {% else %}
                {{soldier.xmlid}}
                {% endif %}
                <hr/>
                <b>Last Promoted:</b>
                {% if auth_ic == True and (auth_platoon == soldier.platoon or soldier.platoon == 'none' or solider.platoon =='toc') %}
                <input type="text" name="lastpromote" value="{{soldier.lastPromoted}}"><br>
                {% else %}
                {{soldier.lastPromoted}}<br>
                {% endif %}
                {% if auth_ic == True and (auth_platoon == soldier.platoon or soldier.platoon == 'none' or solider.platoon =='toc') %}
                <input
                        type="submit"
                        value="Edit Soldier">
            </form>
            <p>

                {%if soldier.rank == "RCT" %}
            <form name="promotepv2" action="/detailsoldier?soldier={{soldier_id}}&action=promotepv2" method="post">
                <input
                        type="submit"
                        value="Promote to PV2">
            </form>
            {% else %}
            <form name="promote" action="/detailsoldier?soldier={{soldier_id}}&action=promote&rank={{nextRank}}"
                  method="post">
                <input type="submit" value="Promote to {{nextRank}}"></form>
            <p> <form name="demote" action="/detailsoldier?soldier={{soldier_id}}&action=demote&rank={{prevRank}}"
                  method="post">
                <input type="submit" value="Demote to {{prevRank}}"></form>
            </p>
            {% endif %}

            {% endif %}
        </td>
    </tr>
</table>
<p>Certifications</p>

<table border="1" class="bling">
    <tr>
        <th>Number of Certifications</th>
        <th><img src="img/rifle.png" height="105" width="110"/><br>Rifle<br>

        </th>
        <th><img src="img/ncopd1.png" height="105" width="110"/><br>NCOPD1</th>
        <th><img src="img/ncopd2.png" height="105" width="110"/><br>NCOPD2</th>
        <th><img src="img/ncopd3.png" height="105" width="110"/><br>NCOPD3</th>
        <th><img src="img/airassult.png" height="105" width="110"/><br>Air Assult</th>
        <th><img src="img/sapper.png" height="105" width="110"/><br>Sapper</th>
        <th><img src="img/ranger.png" height="105" width="110"/><br>Ranger</th>
        <th><img src="img/pathfinder.png" height="105" width="110"/><br>Pathfinder</th>
        <th><img src="img/fister.png" height="105" width="110"/><br>FO</th>
        <th><img src="img/fdc.png" height="105" width="110"/><br>FDC</th>
        <th><img src="img/jfo.png" height="105" width="110"/><br>JFO</th>
        <th><img src="img/dmr.png" height="105" width="110"/><br>DMR</th>
        <th><img src="img/rslc.png" height="105" width="110"/><br>RSLC</th>
        <th><img src="img/recruiter.png" height="109" width="110"/><br>Recruiter</th>
    </tr>

    <tr>
        <td>{{soldier.num_certs}}</td>
        <td>
            {% if auth_ic == True and (auth_platoon == soldier.platoon or soldier.platoon == 'none' or solider.platoon =='toc') %}
            {% if soldier.certRifle == "Expert" %}
            <b>{{soldier.certRifle}}</b>
            {% else %}
            <form name="rifleupdate" action="/detailsoldier?soldier={{soldier_id}}&action=certRifle" method="post">

                <select name="certRifle">
                    <option value="Expert" {% if soldier.certRifle==
                    "Expert" %} selected{% endif %}>Expert</option>
                    <option value="Sharpshooter" {% if soldier.certRifle==
                    "Sharpshooter" %} selected{% endif %}>Sharpshooter</option>
                    <option value="Marksman" {% if soldier.certRifle==
                    "Marksman" %} selected{% endif %}>Marksman</option>
                    <option value="None" {% if soldier.certRifle==
                    "None" %} selected{% endif %}>None</option>
                </select>
                <input type="submit">
                {% endif %}
            </form>
            {% else %}
            <b>{{soldier.certRifle}}</b>
            {% endif %}
        </td>
        <td>
            {% if auth_ic == True and (auth_platoon == soldier.platoon or soldier.platoon == 'none' or solider.platoon =='toc') %}
            {% if soldier.certNCOPD1 == 0 %}
            No
            <form name="certNCOPD1" action="/detailsoldier?soldier={{soldier_id}}&action=certNCOPD1" method="post">
                <input class="NCOPD1"
                       type="submit"
                       value="Add">
            </form>
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% else %}
            {% if soldier.certNCOPD1 == 0 %}
            No
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% endif %}
        </td>
        <td>
            {% if auth_ic == True and (auth_platoon == soldier.platoon or soldier.platoon == 'none' or solider.platoon =='toc') %}
            {% if soldier.certNCOPD2 == 0 %}
            No
            <form name="certNCOPD2" action="/detailsoldier?soldier={{soldier_id}}&action=certNCOPD2" method="post">
                <input type="submit" value="Add">
            </form>
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% else %}
            {% if soldier.certNCOPD2 == 0 %}
            No
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% endif %}
        </td>
        <td>
            {% if auth_ic == True and (auth_platoon == soldier.platoon or soldier.platoon == 'none' or solider.platoon =='toc') %}
            {% if soldier.certNCOPD3 == 0 %}
            No
            <form name="certNCOPD3" action="/detailsoldier?soldier={{soldier_id}}&action=certNCOPD3" method="post">
                <input type="submit" value="Add"></form>
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% else %}
            {% if soldier.certNCOPD3 == 0 %}
            No
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% endif %}
        </td>
        <td>
            {% if auth_ic == True and (auth_platoon == soldier.platoon or soldier.platoon == 'none' or solider.platoon =='toc') %}
            {% if soldier.certAirAssult == 0 %}
            No
            <form name="certAirAssult" action="/detailsoldier?soldier={{soldier_id}}&action=certAirAssult"
                  method="post">
                <input type="submit" value="Add"></form>
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% else %}
            {% if soldier.certAirAssult == 0 %}
            No
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% endif %}
        </td>
        <td>
            {% if auth_ic == True and (auth_platoon == soldier.platoon or soldier.platoon == 'none' or solider.platoon =='toc') %}
            {% if soldier.certSapper == 0 %}
            No
            <form name="certSapper" action="/detailsoldier?soldier={{soldier_id}}&action=certSapper" method="post">
                <input type="submit" value="Add"></form>
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% else %}
            {% if soldier.certSapper == 0 %}
            No
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% endif %}
        </td>
        <td>
            {% if auth_ic == True and (auth_platoon == soldier.platoon or soldier.platoon == 'none' or solider.platoon =='toc') %}
            {% if soldier.certRanger == 0 %}
            No
            <form name="certRanger" action="/detailsoldier?soldier={{soldier_id}}&action=certRanger" method="post">
                <input type="submit" value="Add"></form>
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% else %}
            {% if soldier.certRanger == 0 %}
            No
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% endif %}
        </td>
        <td>
            {% if auth_ic == True and (auth_platoon == soldier.platoon or soldier.platoon == 'none' or solider.platoon =='toc') %}
            {% if soldier.certPathfinder == 0 %}
            No
            <form name="certPathfinder" action="/detailsoldier?soldier={{soldier_id}}&action=certPathfinder"
                  method="post">
                <input type="submit" value="Add"></form>
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% else %}
            {% if soldier.certPathfinder == 0 %}
            No
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% endif %}
        </td>
        <td>
            {% if auth_ic == True and (auth_platoon == soldier.platoon or soldier.platoon == 'none' or solider.platoon =='toc') %}
            {% if soldier.certFO == 0 %}
            No
            <form name="certFO" action="/detailsoldier?soldier={{soldier_id}}&action=certFO" method="post">
                <input type="submit" value="Add"></form>
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% else %}
            {% if soldier.certFO == 0 %}
            No
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% endif %}
        </td>
        <td>
            {% if auth_ic == True and (auth_platoon == soldier.platoon or soldier.platoon == 'none' or solider.platoon =='toc') %}
            {% if soldier.certFDC == 0 %}
            No
            <form name="certFDC" action="/detailsoldier?soldier={{soldier_id}}&action=certFDC" method="post">
                <input type="submit" value="Add"></form>
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% else %}
            {% if soldier.certFDC == 0 %}
            No
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% endif %}
        </td>
        <td>
            {% if auth_ic == True and (auth_platoon == soldier.platoon or soldier.platoon == 'none' or solider.platoon =='toc') %}
            {% if soldier.certJFO == 0 %}
            No
            <form name="certJFO" action="/detailsoldier?soldier={{soldier_id}}&action=certJFO" method="post">
                <input type="submit" value="Add"></form>
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% else %}
            {% if soldier.certJFO == 0 %}
            No
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% endif %}
        </td>
        <td>
            {% if auth_ic == True and (auth_platoon == soldier.platoon or soldier.platoon == 'none' or solider.platoon =='toc') %}
            {% if soldier.certDMR == 0 %}
            No
            <form name="certDMR" action="/detailsoldier?soldier={{soldier_id}}&action=certDMR" method="post">
                <input type="submit" value="Add"></form>
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% else %}
            {% if soldier.certDMR == 0 %}
            No
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% endif %}
        </td>
        <td>
            {% if auth_ic == True and (auth_platoon == soldier.platoon or soldier.platoon == 'none' or solider.platoon =='toc') %}
            {% if soldier.certRSLC == 0 %}
            No
            <form name="certRSLC" action="/detailsoldier?soldier={{soldier_id}}&action=certRSLC" method="post">
                <input type="submit" value="Add"></form>
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% else %}
            {% if soldier.certRSLC == 0 %}
            No
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% endif %}
        </td>
        <td>
            {% if auth_ic == True and (auth_platoon == soldier.platoon or soldier.platoon == 'none' or solider.platoon =='toc') %}
            {% if soldier.certRecruit == 0 %}
            No
            <form name="certRecruit" action="/detailsoldier?soldier={{soldier_id}}&action=certRecruit" method="post">
                <input type="submit" value="Add"></form>
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% else %}
            {% if soldier.certRecruit == 0 %}
            No
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% endif %}
        </td>
    </tr>
</table>


<p>Ribbons</p>
<table border="1" class="bling">
    <tr>
        <th>Number of Ribbons</th>
        <th><img src="img/pistol2.png" height="105" width="110"/><br>Pistol</th>
        <th><img src="img/staff2.png" height="105" width="110"/><br>Staff Officer</th>
        <th><img src="img/command2.png" height="105" width="110"/><br>Command</th>
        <th><img src="img/AT2.png" height="105" width="110"/><br>AT</th>
        <th><img src="img/ground2.png" height="105" width="110"/><br>Ground Defense</th>
        <th><img src="img/dmr.png" height="105" width="110"/><br>Marksman</th>
        <th><img src="img/support2.png" height="105" width="110"/><br>Support</th>
    </tr>
    <tr>
        <td>{{soldier.num_ribbons}}</td>
        <td>
            {% if auth_ic == True and (auth_platoon == soldier.platoon or soldier.platoon == 'none' or solider.platoon =='toc') %}
            {% if soldier.ribPistol == 0 %}
            No
            <form name="ribPistol" action="/detailsoldier?soldier={{soldier_id}}&action=ribPistol" method="post">
                <input type="submit" value="Add"></form>
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% else %}
            {% if soldier.ribPistol == 0 %}
            No
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% endif %}
        </td>
        <td>
            {% if auth_ic == True and (auth_platoon == soldier.platoon or soldier.platoon == 'none' or solider.platoon =='toc') %}
            {% if soldier.ribStaff == 0 %}
            No
            <form name="ribStaff" action="/detailsoldier?soldier={{soldier_id}}&action=ribStaff" method="post">
                <input type="submit" value="Add"></form>
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% else %}
            {% if soldier.ribStaff == 0 %}
            No
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% endif %}
        </td>
        <td>
            {% if auth_ic == True and (auth_platoon == soldier.platoon or soldier.platoon == 'none' or solider.platoon =='toc') %}
            {% if soldier.ribCommand == 0 %}
            No
            <form name="ribCommand" action="/detailsoldier?soldier={{soldier_id}}&action=ribCommand" method="post">
                <input type="submit" value="Add"></form>
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% else %}
            {% if soldier.ribCommand == 0 %}
            No
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% endif %}
        </td>
        <td>
            {% if auth_ic == True and (auth_platoon == soldier.platoon or soldier.platoon == 'none' or solider.platoon =='toc') %}
            {% if soldier.ribAT == 0 %}
            No
            <form name="ribAT" action="/detailsoldier?soldier={{soldier_id}}&action=ribAT" method="post">
                <input type="submit" value="Add"></form>
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% else %}
            {% if soldier.ribAT == 0 %}
            No
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% endif %}
        </td>
        <td>
            {% if auth_ic == True and (auth_platoon == soldier.platoon or soldier.platoon == 'none' or solider.platoon =='toc') %}
            {% if soldier.ribGround == 0 %}
            No
            <form name="ribGround" action="/detailsoldier?soldier={{soldier_id}}&action=ribGround" method="post">
                <input type="submit" value="Add"></form>
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% else %}
            {% if soldier.ribGround == 0 %}
            No
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% endif %}
        </td>
        <td>
            {% if auth_ic == True and (auth_platoon == soldier.platoon or soldier.platoon == 'none' or solider.platoon =='toc') %}
            {% if soldier.ribDM == 0 %}
            No
            <form name="ribDM" action="/detailsoldier?soldier={{soldier_id}}&action=ribDM" method="post">
                <input type="submit" value="Add"></form>
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% else %}
            {% if soldier.ribDM == 0 %}
            No
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% endif %}
        </td>
        <td>
            {% if auth_ic == True and (auth_platoon == soldier.platoon or soldier.platoon == 'none' or solider.platoon =='toc') %}
            {% if soldier.ripSupport == 0 %}
            No
            <form name="ripSupport" action="/detailsoldier?soldier={{soldier_id}}&action=ripSupport" method="post">
                <input type="submit" value="Add"></form>
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% else %}
            {% if soldier.ripSupport == 0 %}
            No
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% endif %}
        </td>
    </tr>
</table>

<p>Badges</p>
<table border="1" class="bling">
    <tr>
        <th>Number of Badges</th>
        <th><br><img src="img/jump.png" height="105" width="110"/><br>Jump</th>
        <th><br><img src="img/cib.png" height="105" width="110"/><br>Combat Infantry</th>
        <th><br><img src="img/infantry2.png" height="105" width="110"/><br>Infantry</th>
        <th><br><img src="img/medic.png" height="105" width="110"/><br>Medic</th>
        <th><br><img src="img/explosives.png" height="105" width="110"/><br>Explosives</th>
        <th><br><img src="img/cab.png" height="105" width="110"/><br>Combat Action</th>
        <th><br><img src="img/airdefense.png" height="105" width="110"/><br>Air Defense</th>
        <th><br><img src="img/armor.png" height="105" width="110"/><br>Armor</th>
        <th><br><img src="img/transport.png" height="105" width="110"/><br>Transportation</th>
        <th><br><img src="img/combatmedic.png" height="105" width="110"/><br>Combat Medic</th>
        <th><br><img src="img/FFB.png" height="105" width="110"/><br>Free Fall</th>
    </tr>
    <tr>
        <td>{{soldier.num_badges}}</td>
        <td>
            {% if auth_ic == True and (auth_platoon == soldier.platoon or soldier.platoon == 'none' or solider.platoon =='toc') %}
            {% if soldier.badgeJump == 0 %}
            No
            <form name="badgeJump" action="/detailsoldier?soldier={{soldier_id}}&action=badgeJump" method="post">
                <input type="submit" value="Add"></form>
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% else %}
            {% if soldier.badgeJump == 0 %}
            No
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% endif %}
        </td>
        <td>
            {% if auth_ic == True and (auth_platoon == soldier.platoon or soldier.platoon == 'none' or solider.platoon =='toc') %}
            {% if soldier.badgeCIB == 0 %}
            No
            <form name="badgeCIB" action="/detailsoldier?soldier={{soldier_id}}&action=badgeCIB" method="post">
                <input type="submit" value="Add"></form>
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% else %}
            {% if soldier.badgeCIB == 0 %}
            No
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% endif %}
        </td>
        <td>
            {% if auth_ic == True and (auth_platoon == soldier.platoon or soldier.platoon == 'none' or solider.platoon =='toc') %}
            {% if soldier.badgeIB == 0 %}
            No
            <form name="badgeIB" action="/detailsoldier?soldier={{soldier_id}}&action=badgeIB" method="post">
                <input type="submit" value="Add"></form>
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% else %}
            {% if soldier.badgeIB == 0 %}
            No
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% endif %}
        </td>
        <td>
            {% if auth_ic == True and (auth_platoon == soldier.platoon or soldier.platoon == 'none' or solider.platoon =='toc') %}
            {% if soldier.badgeMedic == 0 %}
            No
            <form name="badgeMedic" action="/detailsoldier?soldier={{soldier_id}}&action=badgeMedic" method="post">
                <input type="submit" value="Add"></form>
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% else %}
            {% if soldier.badgeMedic == 0 %}
            No
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% endif %}
        </td>
        <td>
            {% if auth_ic == True and (auth_platoon == soldier.platoon or soldier.platoon == 'none' or solider.platoon =='toc') %}
            {% if soldier.badgeExplosive == 0 %}
            No
            <form name="badgeExplosive" action="/detailsoldier?soldier={{soldier_id}}&action=badgeExplosive"
                  method="post">
                <input type="submit" value="Add"></form>
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% else %}
            {% if soldier.badgeExplosive == 0 %}
            No
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% endif %}
        </td>
        <td>
            {% if auth_ic == True and (auth_platoon == soldier.platoon or soldier.platoon == 'none' or solider.platoon =='toc') %}
            {% if soldier.badgeCAB == 0 %}
            No
            <form name="badgeCAB" action="/detailsoldier?soldier={{soldier_id}}&action=badgeCAB" method="post">
                <input type="submit" value="Add"></form>
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% else %}
            {% if soldier.badgeCAB == 0 %}
            No
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% endif %}
        </td>
        <td>
            {% if auth_ic == True and (auth_platoon == soldier.platoon or soldier.platoon == 'none' or solider.platoon =='toc') %}
            {% if soldier.badgeAirDefense == 0 %}
            No
            <form name="badgeAirDefense" action="/detailsoldier?soldier={{soldier_id}}&action=badgeAirDefense"
                  method="post">
                <input type="submit" value="Add"></form>
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% else %}
            {% if soldier.badgeAirDefense == 0 %}
            No
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% endif %}
        </td>
        <td>
            {% if auth_ic == True and (auth_platoon == soldier.platoon or soldier.platoon == 'none' or solider.platoon =='toc') %}
            {% if soldier.badgeArmor == 0 %}
            No
            <form name="badgeArmor" action="/detailsoldier?soldier={{soldier_id}}&action=badgeArmor" method="post">
                <input type="submit" value="Add"></form>
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% else %}
            {% if soldier.badgeArmor == 0 %}
            No
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% endif %}
        </td>
        <td>
            {% if auth_ic == True and (auth_platoon == soldier.platoon or soldier.platoon == 'none' or solider.platoon =='toc') %}
            {% if soldier.badgeTransport == 0 %}
            No
            <form name="badgeTransport" action="/detailsoldier?soldier={{soldier_id}}&action=badgeTransport"
                  method="post">
                <input type="submit" value="Add"></form>
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% else %}
            {% if soldier.badgeTransport == 0 %}
            No
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% endif %}
        </td>
        <td>
            {% if auth_ic == True and (auth_platoon == soldier.platoon or soldier.platoon == 'none' or solider.platoon =='toc') %}
            {% if soldier.badgeCombatMedic == 0 %}
            No
            <form name="badgeCombatMedic" action="/detailsoldier?soldier={{soldier_id}}&action=badgeCombatMedic"
                  method="post">
                <input type="submit" value="Add"></form>
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% else %}
            {% if soldier.badgeCombatMedic == 0 %}
            No
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% endif %}
        </td>
        <td>
            {% if auth_ic == True and (auth_platoon == soldier.platoon or soldier.platoon == 'none' or solider.platoon =='toc') %}
            {% if soldier.badgeFreeFall == 0 %}
            No
            <form name="badgeFreeFall" action="/detailsoldier?soldier={{soldier_id}}&action=badgeFreeFall"
                  method="post">
                <input type="submit" value="Add"></form>
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% else %}
            {% if soldier.badgeFreeFall == 0 %}
            No
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% endif %}
        </td>
    </tr>
</table>

<p>Medals</p>
<table border="1" class="bling">
    <tr>
        <th>Number of Medals</th>
        <th><br><img src="img/afs.png" height="105" width="110"/><br>Armed Forces Service</th>
        <th><br><img src="img/nd.png" height="105" width="110"/><br>Nation Defense</th>
        <th><br><img src="img/dsm.png" height="105" width="110"/><br>Distinguished Service</th>
        <th><br><img src="img/mov.png" height="105" width="110"/><br>Medal of Valor</th>
        <th><br><img src="img/acm.png" height="105" width="110"/><br>Army Commendation</th>
        <th><br><img src="img/aam2.png" height="105" width="110"/><br>Army Acheievement</th>
        <th><br><img src="img/dsync2.png" height="105" width="110"/><br>Dsync</th>
        <th><br><img src="img/gcm.png" height="105" width="110"/><br>Good Conduct</th>
        <th><br><img src="img/ph.png" height="105" width="110"/><br>Purple Heart</th>
        <th><br><img src="img/vsm.png" height="105" width="110"/><br>Volunteer Service</th>
        <th><br><img src="img/dsc.png" height="105" width="110"/><br>Distinguished Service Cross</th>
        <th><br><img src="img/msm.png" height="105" width="110"/><br>Meritorious Service</th>
        <th><br><img src="img/bs.png" height="105" width="110"/><br>Bronze Star</th>
        <th><br><img src="img/ss.png" height="105" width="110"/><br>Silver Star</th>
    </tr>
    <tr>
        <td>{{soldier.num_medals}}</td>
        <td>
            {% if auth_ic == True and (auth_platoon == soldier.platoon or soldier.platoon == 'none' or solider.platoon =='toc') %}
            {% if soldier.medArmedForces == 0 %}
            No
            <form name="medArmedForces" action="/detailsoldier?soldier={{soldier_id}}&action=medArmedForces"
                  method="post">
                <input type="submit" value="Add"></form>
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% else %}
            {% if soldier.medArmedForces == 0 %}
            No
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% endif %}
        </td>
        <td>
            {% if auth_ic == True and (auth_platoon == soldier.platoon or soldier.platoon == 'none' or solider.platoon =='toc') %}
            {% if soldier.medNationalDefense == 0 %}
            No
            <form name="medNationalDefense" action="/detailsoldier?soldier={{soldier_id}}&action=medNationalDefense"
                  method="post">
                <input type="submit" value="Add"></form>
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% else %}
            {% if soldier.medNationalDefense == 0 %}
            No
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% endif %}
        </td>
        <td>
            {% if auth_ic == True and (auth_platoon == soldier.platoon or soldier.platoon == 'none' or solider.platoon =='toc') %}
            {% if soldier.medDSM == 0 %}
            No
            <form name="medDSM" action="/detailsoldier?soldier={{soldier_id}}&action=medDSM" method="post">
                <input type="submit" value="Add"></form>
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% else %}
            {% if soldier.medDSM == 0 %}
            No
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% endif %}
        </td>
        <td>
            {% if auth_ic == True and (auth_platoon == soldier.platoon or soldier.platoon == 'none' or solider.platoon =='toc') %}
            {% if soldier.medMOV == 0 %}
            No
            <form name="medMOV" action="/detailsoldier?soldier={{soldier_id}}&action=medMOV" method="post">
                <input type="submit" value="Add"></form>
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% else %}
            {% if soldier.medMOV == 0 %}
            No
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% endif %}
        </td>
        <td>
            {% if auth_ic == True and (auth_platoon == soldier.platoon or soldier.platoon == 'none' or solider.platoon =='toc') %}
            {% if soldier.medCommendation == 0 %}
            No
            <form name="medCommendation" action="/detailsoldier?soldier={{soldier_id}}&action=medCommendation"
                  method="post">
                <input type="submit" value="Add"></form>
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% else %}
            {% if soldier.medCommendation == 0 %}
            No
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% endif %}
        </td>
        <td>
            {% if auth_ic == True and (auth_platoon == soldier.platoon or soldier.platoon == 'none' or solider.platoon =='toc') %}
            {% if soldier.medAchievement == 0 %}
            No
            <form name="medAchievement" action="/detailsoldier?soldier={{soldier_id}}&action=medAchievement"
                  method="post">
                <input type="submit" value="Add"></form>
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% else %}
            {% if soldier.medAchievement == 0 %}
            No
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% endif %}
        </td>
        <td>
            {% if auth_ic == True and (auth_platoon == soldier.platoon or soldier.platoon == 'none' or solider.platoon =='toc') %}
            {% if soldier.medDsync == 0 %}
            No
            <form name="medDsync" action="/detailsoldier?soldier={{soldier_id}}&action=medDsync" method="post">
                <input type="submit" value="Add"></form>
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% else %}
            {% if soldier.medDsync == 0 %}
            No
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% endif %}
        </td>
        <td>
            {% if auth_ic == True and (auth_platoon == soldier.platoon or soldier.platoon == 'none' or solider.platoon =='toc') %}
            {% if soldier.medConduct == 0 %}
            No
            <form name="medConduct" action="/detailsoldier?soldier={{soldier_id}}&action=medConduct" method="post">
                <input type="submit" value="Add"></form>
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% else %}
            {% if soldier.medConduct == 0 %}
            No
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% endif %}
        </td>
        <td>
            {% if auth_ic == True and (auth_platoon == soldier.platoon or soldier.platoon == 'none' or solider.platoon =='toc') %}
            {% if soldier.medPH == 0 %}
            No
            <form name="medPH" action="/detailsoldier?soldier={{soldier_id}}&action=medPH" method="post">
                <input type="submit" value="Add"></form>
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% else %}
            {% if soldier.medPH == 0 %}
            No
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% endif %}
        </td>
        <td>
            {% if auth_ic == True and (auth_platoon == soldier.platoon or soldier.platoon == 'none' or solider.platoon =='toc') %}
            {% if soldier.medVolunteer == 0 %}
            No
            <form name="medVolunteer" action="/detailsoldier?soldier={{soldier_id}}&action=medVolunteer" method="post">
                <input type="submit" value="Add"></form>
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% else %}
            {% if soldier.medVolunteer == 0 %}
            No
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% endif %}
        </td>
        <td>
            {% if auth_ic == True and (auth_platoon == soldier.platoon or soldier.platoon == 'none' or solider.platoon =='toc') %}
            {% if soldier.medDSC == 0 %}
            No
            <form name="medDSC" action="/detailsoldier?soldier={{soldier_id}}&action=medDSC" method="post">
                <input type="submit" value="Add"></form>
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% else %}
            {% if soldier.medDSC == 0 %}
            No
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% endif %}
        </td>
        <td>
            {% if auth_ic == True and (auth_platoon == soldier.platoon or soldier.platoon == 'none' or solider.platoon =='toc') %}
            {% if soldier.medMerit == 0 %}
            No
            <form name="medMerit" action="/detailsoldier?soldier={{soldier_id}}&action=medMerit" method="post">
                <input type="submit" value="Add"></form>
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% else %}
            {% if soldier.medMerit == 0 %}
            No
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% endif %}
        </td>
        <td>
            {% if auth_ic == True and (auth_platoon == soldier.platoon or soldier.platoon == 'none' or solider.platoon =='toc') %}
            {% if soldier.medBronze == 0 %}
            No
            <form name="medBronze" action="/detailsoldier?soldier={{soldier_id}}&action=medBronze" method="post">
                <input type="submit" value="Add"></form>
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% else %}
            {% if soldier.medBronze == 0 %}
            No
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% endif %}
        </td>
        <td>
            {% if auth_ic == True and (auth_platoon == soldier.platoon or soldier.platoon == 'none' or solider.platoon =='toc') %}
            {% if soldier.medSilver == 0 %}
            No
            <form name="medSilver" action="/detailsoldier?soldier={{soldier_id}}&action=medSilver" method="post">
                <input type="submit" value="Add"></form>
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% else %}
            {% if soldier.medSilver == 0 %}
            No
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% endif %}
        </td>
    </tr>
</table>

<p>Aviation</p>
<table border="1" class="bling">
    <tr>
        <th>Number of Awards</th>
        <th><img src="img/rotor.png" height="105" width="110"/><br>Rotor</th>
        <th><img src="img/wings.png" height="105" width="110"/><br>Wings</th>
        <th><img src="img/airmedal.png" height="105" width="110"/><br>Air</th>
        <th><img src="img/afcam.png" height="105" width="110"/><br>Air Force Combat Action</th>
        <th><img src="img/chm.png" height="105" width="110"/><br>Combat Helo</th>
        <th><img src="img/dfc.png" height="105" width="110"/><br>Distinguished Flying Cross</th>
    </tr>
    <tr>
        <td>{{soldier.num_awards}}</td>
        <td>
            {% if auth_ic == True and (auth_platoon == soldier.platoon or soldier.platoon == 'none' or solider.platoon =='toc') %}
            {% if soldier.certRotor == 0 %}
            No
            <form name="certRotor" action="/detailsoldier?soldier={{soldier_id}}&action=certRotor" method="post">
                <input type="submit" value="Add"></form>
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% else %}
            {% if soldier.certRotor == 0 %}
            No
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% endif %}
        </td>
        <td>
            {% if auth_ic == True and (auth_platoon == soldier.platoon or soldier.platoon == 'none' or solider.platoon =='toc') %}
            {% if soldier.certWings == 0 %}
            No
            <form name="certWings" action="/detailsoldier?soldier={{soldier_id}}&action=certWings" method="post">
                <input type="submit" value="Add"></form>
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% else %}
            {% if soldier.certWings == 0 %}
            No
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% endif %}
        </td>
        <td>
            {% if auth_ic == True and (auth_platoon == soldier.platoon or soldier.platoon == 'none' or solider.platoon =='toc') %}
            {% if soldier.medAir == 0 %}
            No
            <form name="medAir" action="/detailsoldier?soldier={{soldier_id}}&action=medAir"
                  method="post">
                <input type="submit" value="Add"></form>
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% else %}
            {% if soldier.medAir == 0 %}
            No
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% endif %}
        </td>
        <td>
            {% if auth_ic == True and (auth_platoon == soldier.platoon or soldier.platoon == 'none' or solider.platoon =='toc') %}
            {% if soldier.medAFCombatAction == 0 %}
            No
            <form name="medAFCombatAction" action="/detailsoldier?soldier={{soldier_id}}&action=medAFCombatAction"
                  method="post">
                <input type="submit" value="Add"></form>
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% else %}
            {% if soldier.medAFCombatAction == 0 %}
            No
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% endif %}
        </td>
        <td>
            {% if auth_ic == True and (auth_platoon == soldier.platoon or soldier.platoon == 'none' or solider.platoon =='toc') %}
            {% if soldier.medCombatHelo == 0 %}
            No
            <form name="medCombatHelo" action="/detailsoldier?soldier={{soldier_id}}&action=medCombatHelo"
                  method="post">
                <input type="submit" value="Add"></form>
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% else %}
            {% if soldier.medCombatHelo == 0 %}
            No
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% endif %}
        </td>
        <td>
            {% if auth_ic == True and (auth_platoon == soldier.platoon or soldier.platoon == 'none' or solider.platoon =='toc') %}
            {% if soldier.medDFC == 0 %}
            No
            <form name="medDFC" action="/detailsoldier?soldier={{soldier_id}}&action=medDFC"
                  method="post">
                <input type="submit" value="Add"></form>
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% else %}
            {% if soldier.medDFC == 0 %}
            No
            {% else %}
            <b>Yes</b>
            {% endif %}
            {% endif %}

        </td>

    </tr>
</table>
<br><br>
<table border="1" class="bling">
    <tr>
        {% for i in monthdays %}
        <th><br>{{i}}</th>
        {% endfor %}
        <th>P</th>
        <th>A</th>
        <th>T</th>
        <th>Percent</th>
    </tr>
    {% for x in attendance_data %}
    {% if auth_ic == True and auth_platoon == soldier.platoon %}
    <form name="editattendance" action="/detailsoldier?soldier={{soldier_id}}&action=editattendance"
          method="post">
        <tr>
            {% for i in monthdays %}
            <td>
                {% for y in x[1] %}
                {% if y[0] == i %}
                <input type="text" name="value" value="{{y[1]}}" size="2">
                <input type="hidden" name="key" value="{{y[2]}}">
                <input type="hidden" name="date" value="{{y[3]}}">
                {% endif %}
                {% endfor %}

            </td>
            {% endfor %}
            <td>{{x[2]}}</td>
            <td>{{x[3]}}</td>
            <td>{{x[4]}}</td>
            <td>{{x[5]}}</td>
        </tr>

        {% else %}
        <tr>
            {% for i in monthdays %}
            <td>
                {% for y in x[1] %}
                {% if y[0] == i %}
                {{y[1]}}
                {% endif %}
                {% endfor %}

            </td>
            {% endfor %}
            <td>{{x[2]}}</td>
            <td>{{x[3]}}</td>
            <td>{{x[4]}}</td>
            <td>{{x[5]}}</td>
        </tr>
        {% endif %}
        {% endfor %}
</table>
{% if auth_ic == True and (auth_platoon == soldier.platoon or soldier.platoon == 'none') %}
<input type="hidden" name="platoon" value="{{soldier.platoon}}">
<input type="submit" value="Change Attendance">

</form>
<p>
<form name="deletesoldier" action="/detailsoldier?soldier={{soldier_id}}&action=deletesoldier"
      method="post">
    <input type="hidden" name="platoon" value="{{soldier.platoon}}">
    <input type="submit" value="Delete Soldier"></form>
</p>
{% endif %}
</body>
</html>
